body{
    background-color: #F0F6FC;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 40rem;
    margin-top: 5rem;
    text-align: center;
  }

.title{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.lorem-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.lorem-form > input{
    width: 40px;
    margin-right:10px;
    margin-left:10px;
    padding: 5px;
}

.lorem-form >h4{
    font-size: large;
}

.lorem-form >button{
    width:150px;
    height:30px;
    background-color: #44A1E4;
}

.lorem-text > p{
    font-weight: 500;
    text-align: left;
    font-style: italic;
}